<div>
  <h2>Usuarios</h2>

  <div class="flex flex-col mb-4">
    <button class="self-end success" [routerLink]="userCreateRoute">
      Crear usuario
    </button>
  </div>

  <table *ngIf="!skeleton; else skeletonLoader">
    <thead>
      <tr>
        <th>Tipo de documento</th>
        <th>Número de documento</th>
        <th>Usuario</th>
        <th>Género</th>
        <th>Estado</th>
        <th></th>
      </tr>
    </thead>

    <tbody *ngIf="userList.length > 0; else emptyList">
      <tr *ngFor="let user of userList">
        <td class="text-center">{{ user.documentType }}</td>
        <td class="text-right">{{ user.documentNumber }}</td>
        <td>{{ user.firstName }} {{ user.lastName }}</td>
        <td class="text-center">{{ user.gender }}</td>
        <td class="text-center">{{ user.status ? "Activo" : "Inactivo" }}</td>
        <td class="text-center relative">
          <div *ngIf="loading" class="absolute top-0 left-0 w-full h-full">
            <app-loader [size]="30"></app-loader>
          </div>

          <button
            class="info mx-2"
            [routerLink]="getUrlEditUser(user.id)"
            [disabled]="loading"
          >
            Editar
          </button>

          <button
            class="error mx-2"
            (click)="onDeleteUser(user.id)"
            [disabled]="loading"
          >
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>

    <ng-template #emptyList>
      <tbody>
        <tr>
          <td colspan="6" class="text-center">No hay usuarios registrados</td>
        </tr>
      </tbody>
    </ng-template>
  </table>

  <ng-template #skeletonLoader>
    <app-loader [size]="50"></app-loader>
  </ng-template>
</div>
