/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./styles/form.scss";
@import "./styles/toast.scss";
@import "./styles/variables.scss";

* {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: $background-default;
}

nav,
section {
  background-color: $background-dark;
}

nav {
  a {
    text-decoration: none;

    &:hover {
      color: inherit;
    }
  }
}

a {
  text-decoration: underline;

  &:hover {
    color: $color-info;
  }
}

h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;

  thead {
    background-color: $background-light;

    th {
      padding: 10px;
      text-align: center;
    }
  }

  tbody {
    background-color: $background-default;

    tr:last-child td {
      border: none;
    }

    td {
      padding: 10px;
      border-bottom: 1px solid;
    }
  }
}

button {
  padding: 5px 10px;
  border-radius: 8px;

  &[disabled] {
    background-color: #999999 !important;

    &:hover {
      opacity: 1;
    }
  }

  &:hover {
    opacity: 0.8;
  }

  &.error {
    background-color: $color-error;
  }

  &.info {
    background-color: $color-info;
  }

  &.success {
    background-color: $color-success;
  }

  &.warning {
    background-color: $color-warning;
  }
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-thumb {
  background: #aaaaaa;
  border-radius: 6px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

*::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

*::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 6px;
}

*::-webkit-scrollbar-track:hover,
*::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}
