<main class="flex p-3 h-screen">
  <nav class="flex flex-col mr-3 rounded-xl overflow-hidden w-48">
    <div class="flex flex-col flex-1 overflow-auto p-3 h-full w-full">
      <a class="hover:opacity-80 no-underline" routerLink="/">
        <header
          class="flex flex-col items-center justify-center text-center border-b-2 pb-3 mb-3"
        >
          <img src="/assets/logo.png" width="80" height="80" />

          <h1 class="text-xl font-bold">Clínica Veterinaria</h1>
        </header>
      </a>

      <ul>
        <li *ngFor="let item of navItems" routerLinkActive="active">
          <a [routerLink]="item.route">{{ item.label }}</a>
        </li>
      </ul>
    </div>

    <p class="text-xs text-center p-2">
      Desarrollado por <br />
      <a href="https://cloaiza1997.github.io/CristianLoaiza/" target="_blank">
        Cristian Loaiza
      </a>
    </p>
  </nav>

  <section class="flex-1 rounded-xl overflow-hidden w-full">
    <div class="overflow-auto p-3 h-full w-full">
      <router-outlet></router-outlet>
    </div>
  </section>
</main>
